<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://m.media-amazon.com/images/M/MV5BOGU2YTZmMjYtZDUwYi00NTc1LTlkMjAtM2ViZDkzOTlhNGNhXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_FMjpg_UX1000_.jpg);">
  <div class="container">
    <h1><%= @event.name %></h1>
    <p><strong><%= @event.location %></strong>!</p>
    <h2><%= @event.description %></h2>
  </div>
</div>
