<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>GOT TICKETS?</h1>
    <p><strong>We sure do!</strong> Buy and sell tickets online for concerts, sports, theater, family and other events near you.</p>
    <%= link_to "See all events", events_path, class: 'btn btn-flat' %>
  </div>
</div>
