
    <!-- hero/banner section -->
        <div class="px-4 py-5 my-5 mt-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://images.unsplash.com/photo-1635070636690-d887c1a77e7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80" alt="" width="72" height="57">
            <h1 class="display-5 fw-bold">Got Tickets?</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4 text-black">If you don't, get them here! <br> If you do, sell them here! <br> The best place for tickets to your favorite events in Mauritius.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <%= link_to "Buy Tickets", events_path, class: "btn btn-primary btn-lg px-4 gap-3" %>
                    <%= link_to "Sell Tickets", new_event_path, class: "btn btn-warning btn-lg px-4 text-white" %>
                </div>
            </div>
        </div>
