.mapboxgl-ctrl-geocoder--input {
  max-width: none;
  width: 100%;
  height: 40px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  box-shadow: none;
}

.mapboxgl-ctrl-geocoder--icon {
  display: none;
}

.suggestions-wrapper {
  background-color: white;
}

.mapboxgl-ctrl-geocoder--pin-right {
  display: none;
}

.mapboxgl-ctrl-geocoder--powered-by {
  display: none;
}

ul {
  list-style: none;
}
