<div class="container col-8 justify-content-center my-5">
    <h2 class="pb-2 border-bottom my-5">Leave a Review</h2>
    <div class="container justify-content-center">
        <%= simple_form_for [@current_user_booking, @review], url: booking_reviews_path(booking_id: @current_user_booking.id), method: :post do |f|  %>
            <%= f.input :rating, label: "Rate this event:" %>
            <%= f.input :content, label: "Give a Review:" %>
            <%= f.button :submit, value: 'Review', class: "btn btn-warning" %>
        <% end %>
    </div>
</div>